.Page {
	width: 100vw;
	height: 100vh;
	background-color: white;
	position: relative;
}

.Page form {
	margin-top: 1rem;
}

.ImageBackground {
	width: 100%;
	height: 50vh;
}

.ImageBackground img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.LoginForm {
	width: 100%;
	height: 50vh;
	background-color: #96a27a;
	border-radius: 30px 30px 0 0;
}

.Form {
	padding: 1.5rem 2rem;
	display: flex;
	flex-direction: column;
}
.Input {
	margin-top: 1.5rem;
}

.Form input {
	width: 100%;
	height: 46px;
	padding: unset;
	border: unset;
	/* border-radius: 7px; */
	border-bottom: 1px solid #ffff;
	background-color: transparent;
	color: white;
}

.Form input:focus {
	outline: unset;
}

.Form input::placeholder {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: white;
}

.Form button {
	background-color: white;
	width: 100%;
	height: 46px;
	margin-top: 2rem;
	border-radius: 15px;
	border: unset;
	appearance: unset;
	color: #96a27a;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.Bottom {
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	margin-top: 3rem;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: white;
}
