.Cart {
	width: 100%;
	height: 100%;
}

.__carts {
	padding: 0 1rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.__SelectAll {
	background-color: azure;
	height: 20%;
	margin-bottom: 1rem;
}

.__MemberInfo {
	background-color: #96a27a1c;
	height: 75px;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	padding: 0 0.5rem;
}

.__Sending {
	background-color: white;
	height: 7%;
	display: flex;
	margin-bottom: 1rem;
	flex-direction: row;
}

.__Sending svg {
	color: #d6d6d6;
	margin: auto 1rem;
}

.__Sending span {
	font-size: 14px;
	margin: auto 1rem;
}

.__MemberInfo span {
	font-size: 14px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: black;
	margin: auto;
}

.__Cart {
	height: 100%;
	border-top: 1px solid #d6d6d6;
}

.Shop {
	display: flex;
	flex-direction: column;
	height: 150px;
	margin-top: 1rem;
}

.Identity {
	display: flex;
	flex-direction: column;
}

.Names {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	font-weight: bold;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Names svg {
	color: purple;
	margin: auto 1rem;
}

.City {
	display: flex;
	font-size: 14px;
	color: #6b6464;
	margin-left: 2.7rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Stuff {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}

.Totalstuff {
	display: flex;
	flex-direction: row;
}

.Imgss {
	width: 30%;
	height: 100%;
	background-color: blanchedalmond;
}

.Imgss img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Contentss {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
	width: 100%;
}

.Stuff input {
	margin: auto 1rem;
}

.Titles {
	font-size: 14px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: black;
}

.Price {
	font-size: 14px;
	font-weight: bold;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: black;
}

.Order {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	justify-content: flex-end;
}

.Order svg {
	color: #6b6464;
	margin: 0 0.5rem;
}

.Order input {
	width: 23px;
	margin: 0;
	height: 15px;
	border-bottom: 1px solid #d6d6d6;
	border: unset;
	text-align: center;
	font-size: 14px;
}

.TotalOrderPrice {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
}

.__left {
	width: 50%;
	background-color: #96a27a1c;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.__right {
	width: 50%;
	background-color: #96a27a1c;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.__right button {
	width: 70%;
	height: 70%;
	background-color: #96a27a;
	color: white;
	font-size: 14px;
	border: unset;
	border-radius: 7px;
	margin: auto 0;
}

.__totalPrice {
	margin: auto;
}

.NoOrder {
	width: 100%;
	height: 448px;
	display: flex;
	justify-content: center;
	color: #777779;
	font-size: 16px;
	font-weight: bold;
}
