.Top {
	height: 40vh;
	width: 100%;
	background-color: #96a27a;
	position: relative;
}

.Main {
	display: flex;
	flex-direction: column;
	position: relative;
}

.Bottom {
	height: 60vh;
	width: 100%;
	background-color: #f8f8f2;
	position: relative;
}

.Overlay {
	width: 100%;
	background-color: transparent;
	top: 5%;
	position: absolute;
}

.Content {
	background-color: #e9e295;
	width: 100%;
	height: 100%;
}

.Card {
	height: 100%;
	display: grid;
	padding: 0 1rem;
	grid-gap: 20px;
	justify-content: center;
	grid-template-columns: auto auto;
}

.P {
	width: 100%;
	height: 100%;
	padding: 1rem 0;
}

.ItemData {
	background-color: white;
	width: 175px;
	height: 250px;
	border-radius: 15px;
	box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.ImgItem {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.ImgItem a {
	text-decoration: none;
}

.__img {
	height: 60%;
	width: 100%;
}

.__content {
	padding: 0.7rem 0.5rem;
	display: flex;
	flex-direction: column;
}

.TextTitle {
	margin: 1rem 0;
	font-size: 16px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: white;
}
.__content h2 {
	margin: 0.5rem 0;
	font-size: 14px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #777779;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.__content span {
	color: #777779;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
}

.__img img {
	width: 100%;
	height: 100%;
	border-radius: 15px 15px 0 0;
}
.A {
	padding: 0 1.5rem;
	display: flex;
	flex-direction: column;
	padding-bottom: 4rem;
}

.B {
	width: 100%;
}

.__child1 {
	height: 50px;
	width: 100%;
}

.__child1 input {
	height: 100%;
	width: 96%;
	border-radius: 7px;
	border: unset;
	padding-left: 10px;
	background-image: url(../../assets/search_2.svg);
	background-position: 313px 14px;
	background-repeat: no-repeat;
	color: black;
}

.__child1 input::placeholder {
	font-size: 14px;
	color: #d6d6d6;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.__child1 input:focus {
	outline: unset;
}

.__child2 .awssld__timer {
	opacity: 0;
}

.__img__ {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.__img__ img {
	width: 40%;
	height: 100%;
	object-fit: cover;
}

.__content2 {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.__content2 span {
	font-size: 14px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.__content2 h2 {
	font-size: 14px;
	color: #4a4a4a;
}

.__awesome {
	width: 100%;
	height: 100%;
}

.__child2 .awssld__bullets {
	position: absolute;
	bottom: 3px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 100;
}

.__child2 .awssld__content {
	background-color: white;
}

.__child2 .awssld__bullets button {
	width: 3px;
	height: 3px;
	background: #fff;
}

.__child2 .awssld__wrapper {
	border-radius: 15px;
}

.__child2 {
	height: 170px;
	width: 100%;
	box-shadow: rgb(99 99 99 / 35%) 0px 2px 8px 0px;
	border-radius: 15px;
}
.C {
	height: 100%;
	width: 100%;
	padding-top: 1rem;
}
