.Detail {
	min-height: 100%;
	background-color: white;
}

.ContentDetails {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
}

.PriceDisc {
	text-decoration: line-through;
	color: red;
	margin-left: 1rem;
}

.ContentImg {
	height: 270px;
	width: 100%;
	background-color: antiquewhite;
}

.ContentImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ContentText {
	height: 300px;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
}

.ContentText h1 {
	margin: 1rem 0 0 0;
	font-size: 18px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #777779;
}

.Prices {
	margin: 1rem 0;
	color: black;
	font-weight: bold;
	font-size: 16px;
}

.Textcontent {
	margin: 1rem 0;
	color: #777779;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5rem;
}

.Type {
	font-size: 14px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	color: #777779;
}

.ContentPrice {
	height: 65px;
	display: flex;
	flex-direction: row;
	padding: 0 1rem;
	margin-top: 1rem;
}

.ContentPrice svg {
	color: #6b6464;
	margin: auto 0.5rem;
	width: 30px !important;
	height: 30px;
}

.ContentPrice input {
	width: 50px;
	margin: auto 0.5rem;
	height: 30px;
	border-bottom: 1px solid #d6d6d6;
	border: unset;
	text-align: center;
	font-size: 16px;
}

.ContentPrice .Left {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ContentPrice .Right {
	width: 50%;
	display: flex;
	justify-content: center;
}

.Right .Button {
	width: 80%;
	height: 100%;
	justify-content: center;
	display: flex;
}

.Button button {
	width: 80%;
	height: 50px;
	border-radius: 10px;
	background-color: #96a27a;
	font-size: 14px;
	font-weight: bold;
	color: white;
	margin: auto;
	border: unset;
}
