.Account {
	width: 100%;
	height: 100%;
	background-color: #96a27a1c;
	display: flex;
	flex-direction: column;
}

._acontent {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

._avatar {
	height: 70px;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
}

._asetting {
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
}

._titleSett {
	font-size: 16px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	margin-bottom: 1rem;
}

._bottom {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

._settItem {
	height: 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

._imgs {
	width: 13%;
	height: 100%;
	margin-right: 1rem;
	display: flex;
	justify-content: center;
}

._imgs svg {
	width: 25px;
	height: 25px;
	color: #8b8585;
	margin: auto;
}

._contents {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	color: black;
}

._ava {
	width: 20%;
	height: 100%;
	margin-right: 2rem;
	border-radius: 50%;
}

._ava img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
._info {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

._info span {
	font-size: 16px;
	font-weight: bold;
	color: black;
}

._member span {
	font-size: 16px;
	font-weight: bold;
	color: black;
	margin-bottom: 1rem;
}

._card {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

._emoney {
	width: 45%;
	height: 100%;
	background-color: white;
	border-radius: 10px;
	box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
	display: flex;
	flex-direction: row;
}

._icons {
	width: 40%;
	height: 100%;
	margin-right: 1rem;
	display: flex;
	justify-content: center;
}

._icons svg {
	color: #fa7c33;
	width: 30px !important;
	height: 30px;
	margin: auto;
}

._icons2 {
	width: 40%;
	height: 100%;
	margin-right: 1rem;
	display: flex;
	justify-content: center;
}

._icons2 svg {
	color: #00c121;
	width: 30px !important;
	height: 30px;
	margin: auto;
}

._total {
	justify-content: center;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	color: black;
}

._member {
	height: 115px;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

._membercard_ {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	background-color: white;
	box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.__Items {
	width: calc(100% / 3);
	height: 100%;
	padding: 0 1rem;
}

.ItemContents {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.ItemContents span {
	margin-bottom: 0.2rem;
	text-align: center;
	font-size: 12px;
	color: black;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ItemContents svg {
	margin: auto;
	width: 25px;
	height: 25px;
	color: #00c121;
}

.logout {
	height: 50px;
	display: flex;
	background-color: white;
	justify-content: center;
	margin-bottom: 1rem;
}

.logout button {
	height: 70%;
	width: 50%;
	margin: auto;
	border-radius: 7px;
	border: unset;
	color: white;
	background-color: #96a27a;
	font-size: 14px;
    font-weight: bold;
}
