body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* global style */

.Dashboard {
	width: 100%;
	height: 100%;
}

.Pages {
	width: 100%;
	min-height: 100vh;
	background-color: white;
	position: relative;
}

.Pages h1 {
	margin: 1rem 0;
	font-size: 16px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #b8b8bb;
}

/*header*/

.Header {
	height: 7vh;
	background-color: white;
	width: 100%;
	border-bottom: solid 2px #d6d6d6;
}

.Footer {
	box-shadow: 5px -7px 12px -4px #b8b8bb;
	width: 100%;
	height: 75px;
	z-index: 1;
	bottom: 0;
	left: 0;
}

.Child {
	background-color: white;
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: space-evenly;
}
.Items {
	width: 40px;
	height: 40px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Items img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.Actived svg {
	color: #405905 !important;
}

.Items svg {
	width: 30px !important;
	height: 30px;
	color: #494e3c8f;
}

.Footer a {
	display: flex;
}

.Sticky {
	position: sticky;
}

.Unsticky {
	position: unset;
}
